{% extends 'index.html.twig' %}
{% block title %}TIME{% endblock %}

{% block main_content %}
    <div class="log">
        <pre>
            {{ log }}
        </pre>
        <input />
    </div>
{% endblock %}