html.dark-mode {
  filter: invert(88%);

  img {
    filter: invert(100%) brightness(1.1) contrast(1.2);
  }

  div#preloader,
  div.dialog-preloader {
    //filter: invert(88%);
    background: white;
  }

  div.guest-content {
    //background-image: none;
    filter: invert(100%) brightness(1.1) contrast(1.2);
    background-image: url("/images/netherrack.png");


  }

  div.install_block_container {
    div.install_block_container_fixed {
      filter: invert(100%) brightness(1.1) contrast(1.2);
    }
  }
}

