{% extends 'index.html.twig' %}

{% block title %}Serwer{% endblock %}

{% block main_content %}

    <h1>Serwer</h1>

    <div id="statfull">
        wczytuję..
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $(".GaugeMeter").gaugeMeter();
        });

        let loadStatUrl = "{{ path('getStat')|escape('js') }}";

        function loadStat () {
            $.get( loadStatUrl, function( data ) {
                if (data) {
                    $("#statfull").html(data);
                    $(".GaugeMeter").gaugeMeter();
                    setTimeout(function() {
                        loadStat();
                    }, 1000);
                }
            });
        };

        loadStat ();


    </script>
{% endblock %}