{% extends 'main.html.twig' %}

{% block body %}
<div class="guest-content">
    {% block guest %}{% endblock %}
</div>
{% endblock %}

{% block stylesheets %}
    <link href="/css/main-guest.css" rel="stylesheet">
{% endblock %}