<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="manifest" href="/manifest.json"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo-full.png"/>

    <title>McManager - {% block title %}Welcome!{% endblock %}</title>

    <!-- ikony -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery-UI -->
    <link href="/vendor/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

    <script>

        // cache

        const PATH = '/service-worker.js';

	if ('serviceWorker' in navigator) {
	  window.addEventListener('load', function() {
	    navigator.serviceWorker.register(PATH).then(function(registration) {
	      // Registration was successful
	      console.log('ServiceWorker registration successful with scope: ', registration.scope);
	    }, function(err) {
	      // registration failed :(
	      console.log('ServiceWorker registration failed: ', err);
	    });
	  });
	}

    </script>
</head>

<body>

<div class="install_block_container" id="install_block" style="display: none">
    <div class="install_block_container_fixed">
        <button id="install-button">Add to home screen</button>
    </div>
</div>

<div id="block_body_container" class="">
{% block body %}{% endblock %}
</div>

<div id="preloader">
    <div class="label">
        <img src="/images/preloader.gif" alt="wczytywanie..." />
    </div>
</div>

<div id="dialog-simple">
    <div class="dialog-simple-menu">
        <input placeholder="search.."
                class="form-control" id="file-manager-file-content-grep" name="fileManagerFileContentGrep" />
    </div>
    <pre id="dialog-simple-content"></pre>
</div>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="/vendor/Gauge-Meter-Plugin/GaugeMeter.js"></script>
<script src="/js/preloader.js"></script>
<script src="/js/dialog-link.js"></script>
<script src="/js/darkmode.js"></script>
<script src="/js/domurl/url.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $( function() {
        $( "#dialog-simple" ).dialog({
            'title':'',
            'autoOpen':false,
            'modal':true,
            'width':'90%',
            'height':$(window).height()*0.9
        });

        // install

        let deferredPrompt;
        const addBtn = document.querySelector('#install-button');
        const addBtnCnt = document.querySelector('#install_block');
        addBtnCnt.style.display = 'none';

        window.addEventListener('beforeinstallprompt', (e) => {
            // Prevent Chrome 67 and earlier from automatically showing the prompt
            e.preventDefault();
            // Stash the event so it can be triggered later.
            deferredPrompt = e;
            // Update UI to notify the user they can add to home screen
            addBtnCnt.style.display = 'block';

            addBtn.addEventListener('click', (e) => {
                // hide our user interface that shows our A2HS button
                addBtnCnt.style.display = 'none';
                // Show the prompt
                deferredPrompt.prompt();
                // Wait for the user to respond to the prompt
                deferredPrompt.userChoice.then((choiceResult) => {
                    if (choiceResult.outcome === 'accepted') {
                        console.log('User accepted the A2HS prompt');
                    } else {
                        console.log('User dismissed the A2HS prompt');
                    }
                    deferredPrompt = null;
                });
            });
        });
    } );
</script>

{% block javascripts %}{% endblock %}


</body>

</html>
