<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>McManager - {% block title %}Welcome!{% endblock %}</title>

    <!-- ikony -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery-UI -->
    <link href="/vendor/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

</head>

<body>

{% block body %}{% endblock %}

<div id="preloader">
    <div class="label">
        <img src="/images/preloader.gif" alt="wczytywanie..." />
    </div>
</div>

<div id="dialog-simple">
    <div class="dialog-simple-menu">
        <input placeholder="search.."
                class="form-control" id="file-manager-file-content-grep" name="fileManagerFileContentGrep" />
    </div>
    <pre id="dialog-simple-content"></pre>
</div>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="/vendor/Gauge-Meter-Plugin/GaugeMeter.js"></script>
<script src="/js/preloader.js"></script>
<script src="/js/dialog-link.js"></script>
<script src="/js/darkmode.js"></script>
<script src="/js/domurl/url.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $( function() {
        $( "#dialog-simple" ).dialog({
            'title':'',
            'autoOpen':false,
            'modal':true,
            'width':'90%',
            'height':$(window).height()*0.9
        });
    } );
</script>

{% block javascripts %}{% endblock %}

</body>

</html>
