{% extends 'index.html.twig' %}
{% import 'helpers/fileManager.twig' as fileManager %}

{% block title %}Backup{% endblock %}

{% block main_content %}

    <h1>Backup</h1>

    {{ fileManager.browse(path, files) }}
    <br />

{% endblock %}