div.console-container {

 div.log {
   height: 80vh;
   display: flex;
   flex-direction: column;
   word-wrap: break-word;

   div.console-control {
     display: flex;

     button {

     }

     * {
       border-radius: 0px;
     }
   }

   pre {
     font-size: 12px;

     span.time-content {
       font-size: 9px;
       color: #888;
       span.time {
         color: goldenrod;
       }
     }

     span.second-content {
       font-size: 9px;
       color: #888;
       span.second {
         color: indigo;
       }
     }

     span.player-content {
       font-weight: bold;

       span.player {
         color: #2c94e0;
       }
     }

     @media (max-width: 768px) {
       font-size: 10px;
     }
   }
 }
}

span.ui-autocomplete-label {
  color: #28a745;
}
span.ui-autocomplete-desc {
  color: #999;
}

li.ui-menu-item:hover {
  span {
    color: white;
  }
}

@media (max-width: 768px) {
  div.log pre {
    font-size: 10px;
  }
}

#command_loader {
  width: 50px;
  position: absolute;
  right: 50px;
  top: 75px;
}

#input_loader {
  display: none;
  position: absolute;
  height: 75px;
  right: 25px;
  margin-top: -18px;
}