div.log {
  height: 70vh;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
div.log pre {
  font-size: 12px;
}

@media (max-width: 768px) {
  div.log pre {
    font-size: 10px;
  }
}