{% extends 'index.html.twig' %}
{% import 'helpers/preloader.twig' as preloader %}

{% block title %}TIME{% endblock %}

{% block main_content %}
    <div class="console-container">
        <div class="log">
            <pre id="console">{{ preloader.preloaderInline() }}</pre>
            <div class="console-control">
                <input
                        class="form-control"
                        placeholder="wpisz komendę.."
                        name="command[command]"
                        required="required"
                        id="command" />
                <button
                        class="btn btn-primary"
                        title="send.."
                        id="send_command"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        let loadConsoleUrl = "{{ path('current_log')|escape('js') }}";
        let sendCommandUrl = "{{ path('send_command')|escape('js') }}";

        $(document).ready(function () {
            load();
        });

        $('#command').keypress(function (e) {
            if (e.which == 13) {
                send ();
            }
        });

        $('#send_command').click(function () {
            send ();
        });

        function load () {
            $.get( loadConsoleUrl, function( data ) {
                if (data.data) {
                    $("#console").html(data.data);
                } else {
                    document.location.reload();
                }
                consoleGoToBottom ('#console');
            });
        }

        function send () {
            let data = $('#command').val();
            let token = "{{ csrf_token('command_token') }}";
            $.post( sendCommandUrl, {command: {command:data, _token: token}})
                .done(function(){
                    load();
                    $('#command').val("");
                })
                .fail(function(response){
                    alert("Nieoczekiwany błąd");
                });
        }

        function consoleGoToBottom (selector) {
            let messageBody = document.querySelector(selector);
            messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        }
    </script>
{% endblock %}